.container {
  display: grid;
  grid: 85px 85px 85px / 85px 85px 85px;
  gap: 5px;
  margin: 50% auto;
  background-color: rgba(0,0,0,0.4);
  width: calc(3 * 85px + 2 * 5px);
  height: calc(3 * 85px + 2 * 5px);
}

.container > div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winner {
  background-color: red !important;
}